@using P_Layer.Models
@model P_Layer.Models.PersonModel

@{
    List<PersonModel> men = ViewBag.Men;
    List<PersonModel> women = ViewBag.Women;

    List<SelectListItem> fathers = men.Select(a => new SelectListItem()
    {
        Value = a.Id.ToString(),
        Text = $"{a.Surname} {a.Name}, {a.BirthDate?.ToShortDateString() ?? ""}"
    }).ToList();
    fathers.Add(new SelectListItem()
    {
        Value = "nothing",
        Text = "(no father)",
        Selected = true
    });

    List<SelectListItem> mothers = women.Select(a => new SelectListItem()
    {
        Value = a.Id.ToString(),
        Text = $"{a.Surname} {a.Name}, {a.BirthDate?.ToShortDateString() ?? ""}"
    }).ToList();

    mothers.Add(new SelectListItem()
    {
        Value = "nothing",
        Text = "(no mother)",
        Selected = true
    });
}


<a href="@Url.Action("Table")"><input type="submit" class="button" value="Back to List"/></a>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <h1>Add person</h1>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })

    <h2>
        @Html.LabelFor(model => model.Name)
    </h2>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "settings_input" } })
    
    <h2>
        @Html.LabelFor(model => model.Surname)
    </h2>
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "settings_input" } })
    
    <h2>
        @Html.LabelFor(model => model.IsMale)
    </h2>
            <div class="checkbox">
                @Html.EditorFor(model => model.IsMale)
            </div>

    <h2>
        @Html.LabelFor(model => model.BirthDate)
    </h2>
        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "settings_input", @type = "date" } })

    <h2>
        @Html.LabelFor(model => model.DeathDate)
    </h2>        
        @Html.EditorFor(model => model.DeathDate, new { htmlAttributes = new { @class = "settings_input", @type = "date" } })

    <h2>
        @Html.LabelFor(model => model.MotherId)
    </h2>
        @Html.DropDownListFor(model => model.MotherId, mothers, new { @class = "settings_input_dropdown" })
    <h2>
        @Html.LabelFor(model => model.FatherId)
   </h2>
         @Html.DropDownListFor(model => model.FatherId, fathers, new { @class = "settings_input_dropdown" })
        
    <br/>
    <input type="submit" value="Create" class="button" />
    }
