@model P_Layer.Models.PersonModel

<p>
    <a href="@Url.Action("Edit", new {id = Model.Id})"><input type="submit" class="button" value="Edit" /></a>
    <a href="@Url.Action("Table")"><input type="submit" class="button" value="Back to List"/></a>
</p>
<h1>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1>
<hr />
<br/><br/>
<table>
    <tr>
        <td>
            <b>
                @Html.DisplayNameFor(model => model.Name):
            </b>
        </td>

        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <td>
            <b>
                @Html.DisplayNameFor(model => model.Surname):
            </b>
        </td>

        <td>
            @Html.DisplayFor(model => model.Surname)
        </td>
    </tr>

    <tr>
        <td>
            <b>
                Gender:
            </b>
        </td>

        <td>
            @if (Model.IsMale)
            {
                <p>Male</p>
            }
            else
            {
                <p>Female</p>
            }
        </td>
    </tr>

    <tr>
        <td>
            <b>
                @Html.DisplayNameFor(model => model.BirthDate):
            </b>
        </td>

        <td>
            @Html.DisplayFor(model => model.BirthDate)
        </td>
    </tr>

    <tr>
        <td>
            <b>
                @Html.DisplayNameFor(model => model.DeathDate):
            </b>
        </td>

        <td>
            @Html.DisplayFor(model => model.DeathDate)
        </td>
    </tr>

    <tr>
        <td>
            <b>
                Mother: 
            </b>
        </td>

        @if (Model.MotherId != null)
        {
            <td>
                @Html.ActionLink("View", "Details", new {id = Model.MotherId})
            </td>
            <td>
                @Html.ActionLink("Remove mother", "RemoveMother", new { id = Model.Id, action = "Details" })
            </td>
        }
    </tr>

    <tr>
        <td>
            <b>
                Father:
            </b>
        </td>

        @if (Model.FatherId != null)
        {
            <td>
                @Html.ActionLink("View", "Details", new { id = Model.FatherId })
            </td>
            <td>
                @Html.ActionLink("Remove father", "RemoveFather", new { id = Model.Id, action = "Details" })
            </td>
        }
    </tr>



    <tr>
        <td>
            <b>
                Lover:
            </b>
        </td>

        @if (Model.PartnerId != null)
        {
            <td>
                @Html.ActionLink("View", "Details", new { id = Model.PartnerId })
            </td>
            <td>
                @Html.ActionLink("Remove partner", "RemovePartner", new { id = Model.Id, action = "Details" })
            </td>
        }

    </tr>

</table>