@model P_Layer.Models.PersonModel

<p>
    <a href="@Url.Action("Edit", new {id = Model.Id})"><input type="submit" class="button" value="Edit" /></a>
    <a href="@Url.Action("Table")"><input type="submit" class="button" value="Back to List"/></a>
</p>
<h1>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Surname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>

    <dt>
        Gender
    </dt>

    <dd>
        @if (Model.IsMale)
        {
            <p>Male</p>
        }
        else
        {
            <p>Female</p>
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BirthDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BirthDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DeathDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DeathDate)
    </dd>

    <dt>
        Mother
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MotherId)
    </dd>

    <dt>
        Father
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FatherId)
    </dd>

    <dt>
        Partner
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PartnerId)
    </dd>
</dl>

