@using P_Layer.Models
@model IEnumerable<P_Layer.Models.PersonModel>

<p>
    <a href="@Url.Action("Create")">
        <input type="submit" class="button" value="Create New"/>
    </a>
</p>

<div class="filter">
    tady bude filter
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            Gender
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeathDate)
        </th>
        <th>
            Mother
        </th>
        <th>
            Father
        </th>
        <th>
            Partner
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @if (item.IsMale)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }
            </td>
            <td>
                @if (item.BirthDate.HasValue)
                {
                    @item.BirthDate.Value.ToShortDateString();
                }
            </td>
            <td>
                @if (item.DeathDate.HasValue)
                {
                    @item.DeathDate.Value.ToShortDateString();
                }
            </td>
            <td >
                @if (item.MotherId != null)
                {
                    @Html.ActionLink(
                        $"{@Model.First(x => x.Id == item.MotherId).Surname} {@Model.First(x => x.Id == item.MotherId).Name}",
                        "Details",
                        new { id = item.MotherId })
                }
            </td>


            <td>
                @if (item.FatherId != null)
                {
                    @Html.ActionLink(
                        $"{@Model.First(x => x.Id == item.FatherId).Surname} {@Model.First(x => x.Id == item.FatherId).Name}",
                        "Details",
                        new { id = item.FatherId })
                }
            </td>


            <td>
                @if (item.PartnerId != null)
                {
                    @Html.ActionLink(
                        $"{@Model.First(x => x.Id == item.PartnerId).Surname} {@Model.First(x => x.Id == item.PartnerId).Name}",
                        "Details",
                        new { id = item.PartnerId })
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})">
                    <div class="button">
                        <i class="fa fa-pencil-square-o fa-lg"></i>
                    </div>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", new {id = item.Id})">
                    <div class="button">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </div>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new {id = item.Id})">
                    <div class="button">
                        <i class="fa fa-ellipsis-h fa-lg"></i>
                    </div>
                </a>
            </td>
        </tr>
    }
</table>
