@using P_Layer.Models
@model P_Layer.Models.PersonModel

@{
    List<PersonModel> men = ViewBag.Men;
    List<PersonModel> women = ViewBag.Women;

    List<SelectListItem> fathers = men.Select(a => new SelectListItem()
    {
        Value = a.Id.ToString(),
        Text = a.Name + " " + a.Surname
    }).ToList();
    fathers.Add(new SelectListItem()
    {
        Value = Model.FatherId == null ? "nothing" : Model.FatherId.ToString(),
        Text = "(without changes)",
        Selected = true
    });

    List<SelectListItem> mothers = women.Select(a => new SelectListItem()
    {
        Value = a.Id.ToString(),
        Text = a.Name + " " + a.Surname
    }).ToList();

    mothers.Add(new SelectListItem()
    {
        Value = Model.MotherId == null ? "nothing" : Model.MotherId.ToString(),
        Text = "(without changes)",
        Selected = true
    });
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Add person</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "settings_input" } })

    @Html.LabelFor(model => model.Surname)
    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "settings_input" } })

    @Html.LabelFor(model => model.IsMale)
    <div class="checkbox">
        @Html.EditorFor(model => model.IsMale)
    </div>

    @Html.LabelFor(model => model.BirthDate)
    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "settings_input", @type = "date" } })

    @Html.LabelFor(model => model.DeathDate)
    @Html.EditorFor(model => model.DeathDate, new { htmlAttributes = new { @class = "settings_input", @type = "date" } })

    @Html.LabelFor(model => model.MotherId)
    @Html.DropDownListFor(model => model.MotherId, mothers, new { htmlAttributes = new { @class = "settings_input" } })

    @Html.LabelFor(model => model.FatherId)
    @Html.DropDownListFor(model => model.FatherId, fathers, new { htmlAttributes = new { @class = "settings_input" } })

    <input type="submit" value="Edit" class="button" />
}

<div>
    @Html.ActionLink("Back to List", "Listing")
</div>
