@model P_Layer.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "../Shared/_LayoutNoAuth.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "prihlaseni", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Create a new account.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new {@type ="email"})
    
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <input type="submit" class="button" value="Register" />
    
}