@model P_Layer.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "../Shared/_LayoutNoAuth.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "prihlaseni", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Reset your password.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })

    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @type="email"})
    
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    
    <input type="submit" class="btn btn-default" value="Reset" />
    
}
