@model P_Layer.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h1>@ViewBag.Title.</h1>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })

    <h2>
        @Html.LabelFor(m => m.OldPassword)
    </h2>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "settings_input" })

    <h2>
        @Html.LabelFor(m => m.NewPassword)
    </h2>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "settings_input" })
    
    <h2>
        @Html.LabelFor(m => m.ConfirmPassword)
    </h2>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "settings_input" })

    <br/>        
    <input type="submit" value="Change password" class="button" />

    }
