@model P_Layer.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "error_msg" })
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword, new { @class = "settings_input" })
    
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "settings_input" })
    
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "settings_input" })

    <input type="submit" value="Change password" class="button" />
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}